* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #191e38;
  perspective: 1000px;
}

.circle {
  transform-style: preserve-3d;
  width: 100px;
  height: 100px;
}

.circle__cell {
  position: absolute;
  display: flex;
  width: 52px;
  height: 100px;
  background-color: #f61a5f;
  justify-content: center;
  align-items: center;
  border-top: 13px solid white;
  border-bottom: 13px solid white;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-family: monospace;
  text-shadow: 200px -200px 5px rgba(185, 185, 185, 0.774),
    600px 300px 0px rgba(185, 185, 185, 0.8),
    600px 300px 0px rgba(185, 185, 185, 0.8),
    300px 200px 5px rgba(185, 185, 185, 0.5),
    600px -200px 0px rgba(185, 185, 185, 0.8),
    600px 0px 0px rgba(185, 185, 185, 0.8),
    400px 300px 0px rgba(185, 185, 185, 0.8),
    400px -300px 0px rgba(185, 185, 185, 0.8),
    400px 100px 2px rgba(185, 185, 185, 0.5),
    200px 500px 0px rgba(185, 185, 185, 0.8),
    200px -500px 0px rgba(185, 185, 185, 0.8);
  transform: rotateY(calc(var(--i) * 12deg)) translateZ(238px);
  -webkit-transform: rotateY(calc(var(--i) * 12deg)) translateZ(238px);
  -moz-transform: rotateY(calc(var(--i) * 12deg)) translateZ(238px);
  -ms-transform: rotateY(calc(var(--i) * 12deg)) translateZ(238px);
  -o-transform: rotateY(calc(var(--i) * 12deg)) translateZ(238px);
}
